/**
 * Fichier css principal.
 */

.container {
  padding-top: 5px;
  padding-bottom: 5px;
}

body{
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ececec)) fixed;
}
.tile2{
  background:blue;
  font-size:10px;
}
.logo_maif{
  height: 44px;
  width: 44px;
}
.navbar{
  background-color: #fff;
}

.center{
  margin: auto;
  text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* 
 * picture css
 */
img {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 5%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.card{
  margin-bottom: 15px;
  border-radius:0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.1); 
}